<section class="login flex justify-center pt-24">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm bg-white rounded-xl p-8
                    shadow-[rgba(0,_0,_0,_0.1)_0px_10px_50px] 
                    hover:shadow-[rgba(0,_0,_0,_0.15)_0px_15px_60px]
                    transform hover:-translate-y-1 transition-all duration-300
                    border border-gray-100">
          <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="img/logo192.png" alt="sushan">
            <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>
          </div>
          
          <div class="mt-10">
            <form class="space-y-6" action="#" method="POST">
                <div>
                    <label for="email" class="block text-sm/6 font-medium text-gray-900">Name</label>
                    <div class="mt-2">
                      <input type="text" name="name" id="name" autocomplete="name" required placeholder="Enter your name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
              <div>
                <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
                <div class="mt-2">
                  <input type="email" name="email" id="email" autocomplete="email" required placeholder="Enter your email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
              </div>
            
              <div>
                <div class="flex items-center justify-between">
                  <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                </div>
                <div class="mt-2">
                  <input type="password" name="password" id="password" autocomplete="current-password" required placeholder="Enter your password" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
              </div>
              <div>
                  <div class="flex items-center justify-between gap-4">
                      <button type="button" class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</button>
                      <a href="/login" class="text-sm font-semibold text-indigo-600 hover:text-indigo-500 whitespace-nowrap">Already have account?</a>
                  </div>
              </div>

            </form>
          </div>
        </div>
        <p class="text-center text-gray-300 text-xs">
            &copy;Shanti Jangam. All rights reserved.
        </p>
    </div>
</section>s